/*顶部*/
#topDataTd{ height: 66px; width: 100%; overflow: hidden;}
.topdata{height: 66px;width: 100%; }
    /*右边*/
.topbg{float: right;height: 66px; width: 486px; background: url('images/top_bg104473.jpg') no-repeat scroll right center transparent; }
.addrtitle{color: #8fa7b3;}
.setinfo{ margin: 6px 8px 0 0; text-align: right;}
.right{float: right;}
.nowrap{ white-space: nowrap;}
.search_subject{ position: absolute;top: 37px; right: 0; width: 286px; z-index: 11;}
.smartsearch{position: relative;border: 1px solid #bbb; background:none repeat scroll 0% 0% #FFF; padding: 1px 21px; height: 18px; line-height: 18px; margin: 3px 5px 3px 2px;border-radius: 2px;box-shadow: 0 1px 1px #e6e6e6;}
.searchinput{ color:#a0a0a0; background: none repeat scroll 0% 0% #FFF;width: 100%;height: 18px;line-height: 18px;font-size: 12px;padding: 0px;margin: 0px;border: 0px none;outline: medium none;}
.ss_icon{width: 18px; height: 16px; display: inline-block;vertical-align: middle;background: url('images/smartsearch104474.png') no-repeat scroll 0% 0% transparent;}
.ss_fronticon{position: absolute; left: 2px; top: 2px;}
.ss_icon_search{ background-position: -3px -3px;}
.ss_endicon{ position: absolute;top: 3px; right: 2px;}
.ss_icon_arrowdown{ background-position: -27px -4px;}
	/*左边*/
.logoo{position: absolute;left: 5px; z-index: 6;}
.imglogo{ display: block;float: left;width: 215px; height: 60px;}
.pointer{ cursor: pointer;}
.maillogo{width: 215px;height: 60px;border: medium none;}
.switch{display: block;float: left;margin: 12px 0 0; line-height: 18px;}
/* 顶部  end */

/* */
#sepLineTd{ position: absolute;top: 66px; left: 0; right: 0; height: 11px;}
.topline{width: auto;border-left: 8px solid #FFF;height: 11px;border-right: 0px none;background: url('images/nav_bg104473.gif') repeat-x scroll 0px -107px transparent;}
.toplineimg{width: 184px;height: 22px;background: url('images/topline104473.gif') repeat scroll -179px 0px transparent;}
/* */

/* */
#mainContent{ position: absolute;top: 77px; width: 100%; height: 553px;}
#leftPanel{ position: relative;top: 0px; width: 179px;height: 553px;left: 8px; bottom: 0; border-left: 0px none;float: left;}
/*#leftPanelCont{width: 179px; height: auto;position: relative;}*/
#navBarDiv{right: 0; z-index: 3;}
.navbar{width: 179px;height: 107px;margin: 0px;list-style: none outside none; background: url('images/nav_bg104473.gif') ;}
.composepart{margin: 0px 10px 0px 10px;padding: 2px 0px 0px;height: 26px;}
.checkpart{margin: 0px 10px 0px 10px;padding: 2px 0px 0px;height: 26px;}
.addrpart{margin: 0px 10px 0px 10px;padding: 2px 0px 0px;height: 26px;}
.fs{height: 26px;color: #AFE6EE;line-height: 26px;overflow: hidden;padding: 2px 2px 0px 13px;margin-bottom: 1px;margin-top: 0px;}
.fs a{display: block; color: #afe6ee; line-height: 24px;padding-left: 31px;font-weight: bold;font-size: 14px;}
.fs:hover{color: #afe6ee; text-decoration: none;background-color:#006B8E }
.fs input{cursor: pointer; float: left;border: 0px none;padding: 0px;outline: medium none;width: 20px;height: 20px;margin: -20px 0px 0px 2px;}
.composebtn{background: url('images/mail1d47c7.png') no-repeat scroll 0px -1px transparent;}
.checkbtn{background: url('images/mail1d47c7.png') no-repeat scroll 0px -33px transparent;}
.addrbtn{background: url('images/mail1d47c7.png') no-repeat scroll 0px -63px transparent;}

#navMiBar{right: 0; z-index: 3;width: 179px;height:433px;}
.listbg{background: url('images/topline104473.gif') repeat scroll 0% 0% transparent;}
.listflow{position: absolute;top: 107px;left: 0px;right: 0px;bottom: 13px;overflow: hidden;height: auto;}
.folderDiv{margin: 0px 5px 0px 10px;position: absolute;top: 0px;left: 0px;bottom: 0px;right: 0px;height: 100%;overflow-y: auto;overflow-x: hidden;}
.fs_spec:hover{background-color:#006B8E }
.fs_spec a{color: #a3a3a3; display: block;height: 22px;overflow: hidden;padding-left: 13px;text-decoration: none;}
.f_size{font-size: 12px;}

#navBottomTd{ width: 179px; height: 13px;position: absolute;top: 540px;bottom: 0; right: 0;}
.navbottom{width: 179px;height: 13px;background: url('images/topline104473.gif') no-repeat scroll -179px -11px transparent;}





/* */
#mainFrameContainer{ position: absolute;top: 0px;left: 192px;bottom: 0px;right: 0px;overflow: hidden;z-index: 4;float: right;}
#mainFrame{width: 100%;height:100%;z-index: 5;}
#ContentRight{width: 100%;height:100%;float: left;padding-top: 10px; overflow: auto;  }
.txt-title{margin: 4px 0 5px 8px;}
.shoujianxiang{font-weight: bold;font-size: 14px;}

.weidu{text-decoration: none;color: #5fa207;}
.weidu:hover{text-decoration: underline;}
.xuanzelan{width: 1146px;height: 33px; border-top: 1px solid #ccc;background-image: url("images/tool-001104473.gif"); margin-left: 8px; background-repeat: repeat-x;}
.buttons{width:554px ;height: 24px;padding: 7px 0 0px 7px;float: left;}
.buttons li{float: left;}
.buttons li a{padding-left: 5px;padding-right: 5px;line-height: 20px;}
.shanchu{padding-left: 8px;padding-right:8px;height: 24px;border-radius: 3px;background-color: #fff;}
.right{float: right;padding: 8px 5px 0 0;}
.right a{color: #3D5E86;text-decoration: none;}
.right a:hover{text-decoration: underline;}

.shoulie{width: 1146px;height: 23px;border-bottom:1px solid #c1c8d2; margin-left: 8px;background-color: #f2f4f6;}
.shoulie li{float: left;padding: 3px 0 0 5px;cursor: pointer;}
.shoulie a:hover{text-decoration: underline;}
.choice{margin-top: 2px;}

.li1{width:32px ;height:22px;border-right: 1px solid #c1c8d2;}
.li2{width:32px ;height:22px;border-right: 1px solid #c1c8d2;}
.li3{width:147px ;height:22px;border-right: 1px solid #c1c8d2;}
.li4{width:806px ;height:22px;border-right: 1px solid #c1c8d2;}
.li5{width:90px ;height:22px;}
.gengzao{width: 1146px;height: 23px;border-bottom:2px solid #c1c8d2; padding: 8px 0 3px 9px;color: #3D5E86;margin-left: 8px; }
.gengzao b{font-size: 14px;}
.gengzao span{text-decoration: underline;}
.xinArea{width: 1146px;height: 350px;margin-left: 8px;}
.liA{width:32px ;height:22px;}
.liB{width:32px ;height:22px;}
.liC{width:147px ;height:22px;}
.liD{width:806px ;height:22px;}
.liE{width:90px ;height:22px;}
.fg{background-image:url("images/mail1d47c7.png");background-position:-32px -160px;width: 14px;height: 14px;float: right;position: relative; }
.fg1{background-image:url("images/mail1d47c7.png");background-position:-48px -160px;width: 14px;height: 14px;float: right;position: relative;left: 14px;display: none;}
.xinArea li{float: left;padding: 3px 0 0 5px;cursor: pointer;border-bottom: 1px solid #ddd;}
.xinxi{background-image: url("images/mail1d47c7.png");background-position: -48px 0; width: 18px;height: 16px;background-repeat: no-repeat;display: block;}
.list_btline{width: 1146px;height: 26px;border-bottom:1px solid #c1c8d2; margin-left: 8px;background-color: #f2f4f6;}
.list_btline li{padding: 5px 0 0 5px;}
.list_btline span{color: #A8ADB8;}
.list_btline a{color: #3D5E86;padding-left: 3px;}
.list_btline a:hover{text-decoration: underline;}