*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 微软雅黑,Arial;
	font-size: 14px;
	text-align: left;
	color: #000;
}
ul,ol,li{list-style: none;}
img{border: 0;}
a,span{ font-size: 12px; }
