*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 微软雅黑,Arial,Tahoma;
	font-size: 12px;
	text-align: left;
	list-style: none;
}
ul,ol,li{list-style: none;}
img{border: 0;}
a{color: #3C3C3C; outline: none;}
span{color: #3C3C3C;}