/*头部*/
.head_top_bg{width: 100%; height: 44px;background-color:#2e2e2e; }
.head_top{ width: 992px; height: 44px; margin: 0 auto; overflow: hidden;}
.head_top_lt{ float: left;font-size: 14px; line-height: 44px; }
.head_top_a{ color: #8a8a8a; padding-right: 35px; display:inline-block;}
.head_top_a:hover{ text-decoration: underline;}
.head_top_rt{ float: right;}
.head_top_rt a{ float: right;display: block;width: 24px; height: 21px; line-height: 21px;padding: 0px 12px; color: #fff;margin-top: 12px;}
.join{background-color: #f46718;}
.login{ background-color: #9E31A7;margin-right: 26px;}
.search_bg{ width: 171px; height: 26px; overflow: hidden;float: right;background-image: url("images/head_search.gif");position: relative;margin-top: 10px; margin-right: 58px;}
.search{width: 136px; height: 14px; margin-top: 6px; margin-left: 7px; background-color: #1d1d1d;font-size: 12px;color: #fff;vertical-align: middle;border: 0;font-family: 微软雅黑;}
.go_search{ width: 13px; height: 14px; display: block;position: absolute;top:-12px; right:-8px;cursor: pointer;}

/*头部  end*/

/*主体*/
.main_bg{width: 100%; height: auto;background-image: url("images/main_bg.jpg"); }
.head{ width: 992px; height: 89px;padding-top: 18px ;padding-bottom: 20px; margin: 0 auto;overflow: hidden;}
.head_logo_new{ width: 595px; height: 89px; display: block;float: left;background-image: url("images/20130121105402503.png");background-repeat: no-repeat;}
.head_ad{ width: 307px; height: 60px; float: right;margin-top: 20px;display: block;}
.db_dotted{ width: 3px; height: 61px; margin-top: 20px; float: right;margin-right: 7px; vertical-align: middle;}

.main{ width: 992px; height: auto;overflow: hidden;margin: 0 auto;position: relative;}
.banner_box{float: left;width: 125px; height:100%; position: relative; z-index: 1001;}
.main_box{width: 864px; float: right; padding-bottom: 20px;overflow: hidden;}
.banner{position:static;top:auto; left:auto;z-index: 99999;}
.banner ul{border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: #C1C6CA #C1C6CA #C1C6CA -moz-use-text-color;}
.banner_li{ width: 123px; height: 52px; background-image: url("images/banner_bg1.gif");background-repeat: no-repeat;cursor: pointer;border-top: 1px solid #c1c6ca;position: relative;font-size: 14px; color: #a3a3a3; vertical-align: middle;}
.current02{ width: 123px; height: 52px;border: 0px none; background-image: url("images/banner_bg3.gif");background-repeat: no-repeat;color: #fff;}
.banner_li:hover{background-image: url("images/banner_bg2.gif");background-repeat: no-repeat;color: #e40077;}
.current02:hover{background-image: url("images/banner_bg3.gif");background-repeat: no-repeat;color: #fff;}
.banner_li dl{margin-left: 27px; padding-top: 12px; vertical-align: middle;}
.banner_li dd{ font-size: 14px; line-height: 14px;}
.banner_li dt{font-size: 12px; margin-top: 4px; letter-spacing: -1px; line-height: 12px;}
.banner_son{ display: none; position: absolute;left: 125px; top:-1px; width: 100px; z-index: 1001;}
.banner_son_ul{border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: #C1C6CA #C1C6CA #C1C6CA -moz-use-text-color;}
.banner_son_ul_li{width: 99px; height: 52px; border-top: 1px solid #C1C6CA; background-image: url("images/zhank_bg.gif");background-repeat: no-repeat;position: relative;z-index: 1001;vertical-align: middle;}
.banner_son dl{margin-left: 14px;}
.banner_son_ul_li a{ display: block;color: #a3a3a3; }
.banner_son_ul_li a:hover{ color: #e40077;}
.banner_son_span{font-size: 14px; line-height: 14px;}
.zhang_dot{position: absolute;top: 16px; letter-spacing: 3px; font-size: 16px;z-index: 1001; color: #a3a3a3;font-weight:bold;display: block;}

#focus{ width: 862px; height: 460px; position: relative;overflow: hidden;}
.focus_ul{height: 415px; position: absolute;z-index: 10; overflow: hidden;]}
.focus_li{float: left;width: 862px; height: 415px; position: relative;overflow: hidden;}
.focus_li a{display: block;width: 862px; height: 415px;overflow: hidden;}
.focus_li img{ width: 862px; height: 415px;}

.jdt_bg{width: 862px; height: 16px; background-image: url("images/jdt_bg.png"); background-repeat: no-repeat;position: absolute;left: 0; bottom: 29px;}
.btnBg{position: absolute;left: 0; bottom: 0; width: 862px; height: 20px;}
.btn{ position: absolute;width: 862px; height: 17px; right: 0; bottom: 12px; text-align: center;background-image: url("images/jdt_line.png"); background-repeat: no-repeat;}
.on{opacity: 0.4; background-image: url("images/jdt_dot2.gif"); background-repeat: no-repeat;width: 13px; height: 13px;text-decoration: none;margin-top: 0;}
.btn span{ margin-top: 2px; display: inline-block;width: 15px; height: 15px; margin-left: 5px; cursor: pointer;background-image: url("images/jdt_dot.gif"); background-repeat: no-repeat;}

.preNext{ width: 28px; height: 28px; position: absolute;top: 185px; cursor: pointer;}
.pre{display: none; z-index: 50;left: 9px; background-image: url("images/left_1.png");background-repeat: no-repeat;}
.next{z-index: 50; display: none; right: 9px; background-image: url("images/right_1.png");background-repeat: no-repeat;}

.main_lt{float: left;width: 629px;}
.main_rt{float: right;width: 228px; position: relative;overflow: hidden;}
.show_good{}
.show_good_tit{padding: 6px 0 6px 6px;font-size: 14px; color:#413e3e;font-weight: bold;border-top: 1px solid #c8c0c0; border-bottom: 1px solid #c8c0c0; letter-spacing: -1px;}
.chn_tit{color: #e40077; margin-right: 10px; font-family: 黑体;}
.show_good_ul{padding: 14px 0;overflow: hidden;}
.show_good_li{float: left;width: 203px; height: 197px; position: relative;margin-left: 9px;}
#show_good_li01{margin: 0;}
.show_good img{ width: 203px; height: 197px;}
.introForPictures{cursor: pointer; display: none; width: 203px; height: 45px; position: absolute;bottom: 0; left:0;}
.introForPictures span{display: block;width: 203px; height: 45px; position: absolute;border-bottom: 0; left: 0;background-image: url("images/infor_bg.gif");background-repeat:no-repeat;opacity: 0.6;}
.pop{position: absolute;top: 0; left:0;overflow: hidden;line-height: 20px; color: #fff;padding-left: 5px; padding-top: 2px;}
.main_lt_ad{width: 628px; height: 90px; display: block;}
.list_comment{ margin-top: 10px; padding-bottom: 15px;}
.list_ul{overflow: hidden;padding-top: 14px;}
.list_ul li{ width: 209px; height: 152px; float: left;position: relative;cursor: pointer;color: #fff;font-size: 14px;}
.list_a{width: 209px; height: 152px;display: block; background-image: url("../images/list_pic1.jpg"); background-repeat: no-repeat;}
.list_text{margin-top: 59px;}
.list_text b{ display: block;text-align: center;margin-bottom: 3px;}
.list_en{letter-spacing: -1px;}
.list_a_span{display: block;width: 209px; height: 152px; background-image: url("images/list_bg.gif"); background-repeat: no-repeat;position: absolute;top: 0;left: 0; opacity: 0.6;}
.list_b{background-color: #931A9D;}
.list_b:hover{background-color: #9e31a7;}
.list_c{background-color: #F46718;}
.list_c:hover{background-color: #f78241;}
.list_d{background-color: #e40077;}
.list_d:hover{background-color: #ed298f;}

.magazine_main{width: 629px; height: 133px; overflow: hidden;border-top: 1px solid #c8c0c0; padding: 6px 0;}
.mag_lt{float: left;width: 25px;}
.mag_lt a{ display: block;cursor: pointer;width: 25px;height: 24px; margin-top: 55px;}
#prevPage{background-image: url("images/magazine_left.gif"); background-repeat: no-repeat;}
.mag_cont{float: left;overflow: hidden;}
#mag_con{width: 579px; height: 133px; overflow: hidden;}
.mag_marq{ width: 10000px; height: 133px;}
.mag_ul{float: left;}
.mag_ul li{ float: left;width: 97px; height: 133px; padding-left: 15px;}

.mag_rt{float: left;width: 25px;}
.mag_rt a{ display: block;cursor: pointer;width: 25px;height: 24px; margin-top: 55px;}
#nextPage{background-image: url("images/magazine_right.gif"); background-repeat: no-repeat;}


.co_ad_scroll{ width: 627px; height: 300px; margin-top: 16px; overflow: hidden;position: relative;}
#co_ad_ul{ width: 10000px; height: 273px; overflow: hidden;}
#co_ad_ul ul{float: left;}
#co_ad_ul li{ width: 627px; height: 273px; float: left;}
#co_ad_ul li img{ width: 627px; height: 273px;}
#ad_lt{width: 13px; height: 12px; display: block; position: absolute;bottom: 8px;right: 30px;background-image: url("images/ad_left1.gif");background-repeat: no-repeat;cursor: pointer;}
#ad_rt{width: 13px; height: 12px; display: block; position: absolute;bottom: 8px;right: 10px; background-image: url("images/ad_right1.gif");background-repeat: no-repeat;cursor: pointer;}

.weibo{width: 228px; height: 542px; padding-bottom: 7px; overflow: hidden;}
.weibo_tit{width: 228px; height: 16px; padding: 4px 0; color: #413e3e; font-weight: bold;border-top: 1px solid #c8c0c0; border-bottom: 1px solid #c8c0c0; letter-spacing: -1px; position: relative;overflow: hidden;}
.weibo_tit span{ width: 111px; text-align: center;display: block;float: left;cursor: pointer;font-size: 14px; line-height: 16px;}
#sina_weibo{color: #e40077;}
.weibo_tit b{font-weight: normal;float: left;}
.sanjiao_a{width: 9px; height: 7px; background-image: url("images/weibo_sanjiao.gif"); position: absolute;top: 29px;left: 52px;display: block;}
.sanjiao_b{width: 9px; height: 7px; background-image: url("images/weibo_sanjiao.gif"); position: absolute;top: 29px;left: 165px;display:none;}
.weibo_main{margin-top: 14px;}
#sanjiao_a1{ display: block;}
#sanjiao_b1{display: none;}





.news{margin-top: 10px; }
.news_tit{padding: 7px 0 6px; font-size: 14px; line-height: 14px; color: #413e3e; font-weight: bold;border-top: 1px solid #c8c0c0;border-bottom: 1px solid #c8c0c0; letter-spacing: -1px; overflow: hidden;}
.news_tit span{ float: left;display: block;}
.more{width: 43px; height: 15px; float: right;display: block;background-image: url("images/more.gif");background-repeat: no-repeat;}
.news ul{ width: 221px; padding-left: 6px; overflow: hidden;padding-top: 8px;}
.news ul li{ padding-bottom: 4px; font-size: 14px; background-image: url("images/news_ico.gif");background-repeat: no-repeat;background-position: 0 5px; padding-left: 24px;}
.news ul li a{ color: #797979; font-size: 12px;}
.news ul li a:hover{ text-decoration: underline;}

.new_magazine{padding-bottom: 4px;}
.new_main{ overflow: hidden;font-weight: 228px; padding-top: 6px;}
.new_lt{float: left;font-weight: 134px; height: 172px; display: block;}
.new_lt img{ font-weight: 134px; height: 172px;}
.new_rt{width:  89px; height: 172px; float: right;}
.new_rt_text{ color: #797979; font-size: 12px; line-height: 20px; letter-spacing: -1px;}
.erweima{margin-top: 3px;vertical-align: middle;}

.hot_tags{padding-bottom: 13px;}
.tags_main{margin-top: 11px; height: 235px; background-image: url("images/tags_bg.jpg");background-repeat: no-repeat;position: relative;overflow: hidden;}
#destination_tag{width: 227px; height: 235px; position: relative;overflow: hidden;}

/*主体  end*/

/*合作媒体*/
.co_bg{width: 100%; height: 81px;background-image: url("images/co_bg.gif");background-repeat: repeat-x;position: relative;}
.co{width: 994px;height: 81px; margin:0 auto; z-index: -1;}
.media{ width: 844px; padding-top: 5px;margin-left: 150px;color: #8A8A8A;}
.media_tit{float: left;width: 55px;padding-top: 1px;font-size: 12px;line-height: 16px; font-family:Verdana, 黑体;display: block;float: left;}
.media_con{float: left;width: 776px;}
.media_con a{color: #8A8A8A;font-size: 12px;font-family:Verdana,微软雅黑;overflow: hidden;line-height: 16px; }
.media_con a:hover{text-decoration: underline;}
.links{width: 844px; padding-top: 3px;margin-left: 150px;color: #8A8A8A;font-size: 12px;font-family: 黑体;overflow: hidden;line-height: 16px;}

/*合作媒体  end*/

/*底部*/
.footer_bg{width: 100%; height: 132px; background-image: url("images/foot_bg.gif");background-repeat: repeat-x;}
.foot{width: 994px;margin: 0px auto;overflow: hidden;}
.foot_logo_w{padding-left: 187px;padding-top: 27px;float: left;}
.foot_logo{width: 141px;height: 74px;display: block;background: url('images/foot_logo.png') no-repeat scroll 0px 0px transparent;}
.foot_line_w{padding-top: 15px;float: left;margin-left: 25px;}
.foot_line{width: 2px;height: 101px;background: url('images/foot_line.gif') no-repeat scroll 0px 0px transparent;}
.foot_text{float: left;margin-left: 28px;padding-top: 16px;line-height: 20px;color: #8A8A8A;font-size: 12px;font-family: "微软雅黑";}



/*底部  end*/